# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data
data/raw/*
data/processed/*
data/chunks/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/chunks/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Neo4j
neo4j/

# Qdrant
qdrant_storage/